# Local-only secrets. This file is safe to commit because values are placeholders.

UC_BASE_URL=https://www.unknowncheats.me/forum/
UC_COOKIE="bbsessionhash=...; bbuserid=...; bbpassword=...; darktheme_enabled=1"
UC_USERNAME=
UC_PASSWORD=
UC_FETCH_CMD=

EP_BASE_URL=https://www.elitepvpers.com/forum/
EP_COOKIE="bbsessionhash=...; bbuserid=...; bbpassword=...; vbseo_loggedin=yes"
EP_USERNAME=
EP_PASSWORD=
EP_FETCH_CMD=

UC_ENABLE_WRITES=false
